<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer">
    <div id="foot_wrap" class="foot_wrap2">
        <div class="footMenu">
            <ul>
                <li><a href="/company/introduce.php">회사소개</a></li>
                <li><a href="/html/main/agreement_use.php">이용약관</a></li>
                <li><a href="/html/main/agreement_private.php">개인정보처리방침</a></li>
                <li><a onclick="ctf_open();" class="cursor black">벤처인증서</a></li>
                <li><a class="cursor black btnLayer" layer="1">삐-마켓 입점 문의</a></li>
                <li><a class="cursor black btnLayer" layer="2">광고/제휴 문의</a></li>
                <li><a href="/bbs/board.php?bo_table=p92">FAQ</a></li>
                <li><a href="javascript:alert('운영진 문의하기는 로그인 후 이용 가능합니다.')">운영진 문의하기</a></li>
            </ul>
        </div>


    <div class="balkarak">
    <div class="balkarak_10">
        <div class="balkarak_11">
            <div class="footlogo"><img src="#" width="95"></div>
            <div class="balkarakinfo">
                <p class="tit2">(주) 중앙텔레콤</p>
                <span class="mr10">대표이사 : 현석준우</span>
                <span class="mr10">사업자등록번호 : 987-6543-21</span>
                통신판매업신고번호 : 제2025-서울마포구-9999호 <br>
                주소 : 서울시 마포구 어쩌구중앙로90 현석e준우 1004호<br>
                Copyright ⓒ www.choongangtelecom.com All Rights Reserved
            </div>
            <div class="footInfo">
                <p class="tit2">고객센터</p>
                <span class="csPhone">1515-1515</span> <br>
                <!-- <span class="mr10">Fax : 051-980-7163</span> -->
                <span class="mr10">Fax : 0507-0909-6062</span>
                Email : choongangIhwa46@gmail.com <br>
                월~목 10시 ~ 18시  /  금 10 ~ 17시<br>
                점심시간 12시 ~ 13시 / 공휴일 휴무
            </div>
            <p class="footTxt">(주)중앙텔레콤은 통신판매중개자이며 통신판매의 거래당사자가 아닙니다. <br> 입점판매자가 등록한 상품정보 및 거래에 대해 (주)중앙텔레콤은 <br> 일체 책임을 지지 않습니다.</p>
        </div>
    </div>
    </div>
</footer>

</body>
</html>
